<<<<<<< HEAD
li {
    font-size: large;
}

div.panel-heading {
   font-size: x-large; 
=======
li {
    font-size: large;
}

div.panel-heading {
   font-size: x-large; 
>>>>>>> b8b6101e9c3aa9502e742d57269f7b4b8166b4e2
}